<header [ngClass]="burgerMenuClassList" data-aos="fade-down">
    <a href="#start">
        <app-logo></app-logo>
        <div class="inactive"></div>
    </a>
    
    <nav id="nav-links-landscape-mode">

        <a href="#about">
            {{'header.about-me-link' | translate}}
            <div [classList]="navlinks[0].classlist"></div>
        </a>
        <a href="#skills">
            {{'header.skills-link' | translate}}
            <div [classList]="navlinks[1].classlist"></div>
        </a>
        <a href="#portfolio">
            {{'header.portfolio-link' | translate}}
            <div [classList]="navlinks[2].classlist"></div>
        </a>

        <a id="translate-icon" [innerHTML]="'header.translate-icon' | translate" (click)="switchLanguage()">
        </a>
    </nav>

    <nav id="nav-links-portrait-mode">

        <div>
            <a href="#about" (click)="setBurgerMenu()">
                {{'header.about-me-link' | translate}}
                <div class="inactive"></div>
            </a>
            <a href="#skills" (click)="setBurgerMenu()">
                {{'header.skills-link' | translate}}
                <div class="inactive"></div>
            </a>
            <a href="#portfolio" (click)="setBurgerMenu()">
                {{'header.portfolio-link' | translate}}
                <div class="inactive"></div>
            </a>
            <a href="#contact" (click)="setBurgerMenu()">
                {{'header.contact-link' | translate}}
                <div class="inactive"></div>
            </a>

            <a [innerHTML]="'header.translate-icon' | translate" (click)="switchLanguage(); setBurgerMenu()">
            </a>
        </div>
    </nav>

    <div id="burger-menu" (click)="setBurgerMenu()" class="burger-menu">
        <div id="burger-menu-layer-top" class="burger-menu-layer"></div>
        <div id="burger-menu-layer-middle" class="burger-menu-layer"></div>
        <div id="burger-menu-layer-bottom" class="burger-menu-layer"></div>
    </div>

</header>