header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    max-width: calc(100vw - 200px);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    gap: 29px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    min-width: 56px;

    &:hover {
        color: #00BEE8;

        div {
            width: 55px;
        }
    }

    div {
        border-radius: 0px 4px 4px 0;
        height: 4px;
        width: 0;
        background-color: #4B47FF;
        transition: all 125ms;
    }
}

#home-link {
    font-size: 35px;
}