header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: calc(100vw - var(--responsive-vertical-main-padding));
    max-width: var(--main-content-width);
    color: white;

    @media (max-width: 800px) {
        align-items: center;
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 29px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    min-width: 56px;

    div {
        border-radius: 0px var(--bullet-line-height) var(--bullet-line-height) 0;
        height: 4px;
        width: 0px;
        background-color: #4B47FF;
    }

    .active {
        width: 55px !important;
    }

    &:hover {
        color: #00BEE8;
        cursor: pointer;

        .inactive {
            width: 55px !important;
        }
    }
    
    #translate-icon {
        width: fit-content;
    }
}

#nav-links-landscape-mode {

    @media (max-width: 800px) {
        display: none;
    }
}

#nav-links-portrait-mode {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: #414856;
    height: calc(100vh - var(--header-height));
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 29px;
    }
}

.burger-menu {
    position: relative;
    width: 30px;
    height: 30px;
    display: none;

    .burger-menu-layer {
        position: absolute;
        left: 0;
        background-color: white;
        width: 30px;
        height: 4px;
        border-radius: 4px;
    }

    #burger-menu-layer-top {
        top: 0;
        transform: rotate(0);
        transition: all 500ms;
    }

    #burger-menu-layer-middle {
        top: calc(50% - 2px);
        left: 0;
        transition: all 500ms;
    }

    #burger-menu-layer-bottom {
        bottom: 0;
        transition: all 500ms;
    }

    &:hover {

        cursor: pointer;

        .burger-menu-layer {
            background-color: #00BEE8;
        }
    }

    @media (max-width: 800px) {
        display: flex;
    }
}


.nav-links-portrait-mode-fade-in {

    #nav-links-portrait-mode {

        display: flex;
        opacity: 0;
    }
}

.burger-menu-expanded {

    #burger-menu-layer-top {
        transform: rotate(45deg);
        top: calc(50% - 2px);
        transition: all 500ms;
    }

    #burger-menu-layer-middle {
        width: 0;
        left: 50%;
        transition: all 500ms;
    }

    #burger-menu-layer-bottom {
        transform: rotate(-45deg);
        top: calc(50% - 2px);
        transition: all 500ms;
    }

    #nav-links-portrait-mode {
        display: flex;
        opacity: 1;
        transition: all 250ms;
    }
}

.nav-links-portrait-mode-fade-out {

    #nav-links-portrait-mode {

        opacity: 0;
        transition: opacity 250ms;
    }
}