<header [ngClass]="burgerMenuClassList">
    <a href="#start">
        <app-logo></app-logo>
        <div class="inactive"></div>
    </a>

    <nav id="nav-links-landscape-mode">

        <a href="#about">
            {{'About me' | translate}}
            <div [classList]="navlinks[0].classlist"></div>
        </a>
        <a href="#skills">
            {{'Skills' | translate}}
            <div [classList]="navlinks[1].classlist"></div>
        </a>
        <a href="#portfolio">
            {{'Portfolio' | translate}}
            <div [classList]="navlinks[2].classlist"></div>
        </a>
    </nav>

    <nav id="nav-links-portrait-mode">

        <div>
            <a href="#about" (click)="setBurgerMenu()">
                {{'About me' | translate}}
                <div class="inactive"></div>
            </a>
            <a href="#skills" (click)="setBurgerMenu()">
                {{'Skills' | translate}}
                <div class="inactive"></div>
            </a>
            <a href="#portfolio" (click)="setBurgerMenu()">
                {{'Portfolio' | translate}}
                <div class="inactive"></div>
            </a>
            <a href="#contact" (click)="setBurgerMenu()">
                {{'Contact' | translate}}
                <div class="inactive"></div>
            </a>
        </div>
    </nav>

    <div id="burger-menu" (click)="setBurgerMenu()" class="burger-menu">
        <div id="burger-menu-layer-top" class="burger-menu-layer"></div>
        <div id="burger-menu-layer-middle" class="burger-menu-layer"></div>
        <div id="burger-menu-layer-bottom" class="burger-menu-layer"></div>
    </div>

</header>