<header [ngClass]="burgerMenuClassList">
    <a href="#start">
        <app-logo></app-logo>
        <div></div>
    </a>

    <nav id="nav-links">

        <a href="#about" (click)="setBurgerMenu()">
            About me
            <div [classList]="navlinks[0].classlist"></div>
        </a>
        <a href="#skills" (click)="setBurgerMenu()">
            Skills
            <div [classList]="navlinks[1].classlist"></div>
        </a>
        <a href="#portfolio" (click)="setBurgerMenu()">
            Portfolio
            <div [classList]="navlinks[2].classlist"></div>
        </a>
        <a id="nav-link-contact" href="#contact" (click)="setBurgerMenu()">
            Contact
            <div class="inactive"></div>
        </a>
    </nav>

    <div id="burger-menu" (click)="setBurgerMenu()" class="burger-menu">
        <div id="burger-menu-layer-top" class="burger-menu-layer"></div>
        <div id="burger-menu-layer-middle" class="burger-menu-layer"></div>
        <div id="burger-menu-layer-bottom" class="burger-menu-layer"></div>
    </div>

</header>