<main>

    <div id="footer-main-row">

        <app-logo></app-logo>
        
        <span id="footer-middle-column">&#169; Maximilian Schuh 2024</span>

        <div id="footer-social-media">
            <a href="https://github.com/maxjschuh" target="_blank" rel="noopener noreferrer">

                <img src="./assets/img/social media/socials_github.svg" alt="icon github">
            </a>
            <a href="mailto: max@mjschuh.com">

                <img src="./assets/img/social media/socials_mail.svg" alt="icon e-mail">
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">

                <img src="./assets/img/social media/socials_linkedIn.svg" alt="icon linkedIn">
            </a>
        </div>
    </div>

    <a id="footer-imprint-link" href="./imprint" target="_blank" rel="noopener noreferrer">
        Imprint
        <div></div>
    </a>

</main>