<main>

    <div id="footer-left-column">
        Max
        <a href="">
            Impressum
            <div></div>
        </a>
    </div>

    <span id="footer-middle-column">&#169; Maximilian Schuh 2023</span>

    <div id="footer-social-media">
        <a href="">

            <img src="./assets/img/social media/socials_github.svg" alt="icon github">
        </a>
        <a href="">

            <img src="./assets/img/social media/socials_mail.svg" alt="icon e-mail">
        </a>
        <a href="">

            <img src="./assets/img/social media/socials_linkedIn.svg" alt="icon linkedIn">
        </a>
    </div>

</main>