<main data-aos="fade-up">

    <div id="footer-main-row">

        <app-logo></app-logo>

        <span id="footer-middle-column">&#169; Maximilian Schuh 2024</span>

        <div id="footer-social-media">
            <a href="https://github.com/maxjschuh" target="_blank" rel="noopener noreferrer">

                <img src="./assets/img/social media/socials_github.svg" alt="alt github">
            </a>
            <a href="mailto: max@mjschuh.com">

                <img src="./assets/img/social media/socials_mail.svg" alt="icon e-mail">
            </a>
        </div>
    </div>

    <a id="footer-imprint-link" href="./imprint" rel="noopener noreferrer">
        {{ "footer.imprint-link" | translate }}
        <div></div>
    </a>

</main>