main {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--responsive-vertical-main-padding));
    max-width: var(--main-content-width);

    #footer-main-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #footer-middle-column {
            font-size: 23px;

            @media (max-width: 390px) {
                font-size: 16px;
            }
        }

        #footer-social-media {
            display: flex;
            align-items: center;
            gap: 42px;
            text-decoration: none;

            @media (max-width: 350px) {
                gap: 20px;
            }

            a {
                display: flex;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.4);
                }
            }
        }
    }

    #footer-imprint-link {
        text-decoration: none;
        color: white;
        font-size: 16px;
        width: fit-content;

        &:hover {
            color: #00BEE8;

            div {
                width: 55px;
            }
        }

        div {
            border-radius: 0px var(--bullet-line-height) var(--bullet-line-height) 0;
            height: 4px;
            width: 0;
            background-color: #4B47FF;
        }
    }

    @media (max-width: 940px) {
        align-items: center;
        gap: 24px;

        #footer-main-row {
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }
}