main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
    z-index: 1;
}

#eyecatcher {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1000px;
    max-width: calc(100vw - var(--responsive-vertical-main-padding));
}

#eyecatcher-vertical {
    transform: rotate(-90deg);
    font-size: 90px;

    @media (max-width: 1100px) {
        font-size: 70px;
    }

    @media (max-width: 900px) {
        font-size: 57px;
    }

    @media (max-width: 650px) {
        font-size: 42px;
    }
}

#eyecatcher-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 128px;
    margin: 0;

    @media (max-width: 1100px) {
        font-size: 100px;
    }

    @media (max-width: 900px) {
        font-size: 80px;
    }

    @media (max-width: 650px) {
        font-size: 60px;
    }
}

#eyecatcher-horizontal-profession {
    color: #4B47FF;
    font-size: 64px;
    background: -webkit-linear-gradient(#4B47FF, #00BEE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1100px) {
        font-size: 50px;
    }

    @media (max-width: 900px) {
        font-size: 40px;
    }

    @media (max-width: 650px) {
        font-size: 30px;
    }
}

#scroll-call-to-action {
    writing-mode: vertical-lr;
    position: absolute;
    bottom: 20px;
    right: calc((100vw - 1000px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 23px;
    color: white;
    z-index: 3;
    animation: wiggle 3s ease-in-out infinite;

    #scroll-call-to-action svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        cursor: pointer;
        color: #00BEE8;

        svg path {
            fill: #00BEE8;
        }
    }

    &:active {
        color: white;

        svg path {
            fill: white;
        }
    }

    @media (max-width: 1200px) {
        right: 100px;
    }

    @media (max-width: 1000px) {
        right: var(--responsive-vertical-side-padding);
    }

    @keyframes wiggle {
        0% {
            transform: translateY(-15px);
        }

        5% {
            transform: translateY(0);
        }

        95% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-15px);
        }
    }
}

#social-media {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 32px;
    z-index: 2;

    a {
        text-decoration: none;
    }

    img {
        width: 30px;
        padding: 10px;

        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
    }
}

#social-media-bullet-line {
    width: calc((100vw - 1000px) / 2);
    background-color: #00BEE8;
    border-radius: 0 4px 4px 0;
    height: 4px;

    @media (max-width: 1000px) {
        width: var(--responsive-vertical-side-padding);
    }
}

.shadow {
    position: absolute;
    width: var(--section-start-shadow-width);
    top: calc(50vh - (var(--section-start-shadow-width) / 2));
}

#shadow-left {
    left: calc(-0.54 * var(--section-start-shadow-width));
    rotate: 90deg;
}

#shadow-right {
    right: calc(-0.45 * var(--section-start-shadow-width));
}

a {
    text-decoration: none;
}