$header-height: 125px;

app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141D2F;
    width: 100%;
    padding: 36px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - $header-height);
    z-index: 1;
}

#eyecatcher {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1000px;
    max-width: calc(100vw - 200px);
}

#eyecatcher-vertical {
    transform: rotate(-90deg);
    font-size: 90px;
}

#eyecatcher-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 128px;
    margin: 0;
}

#eyecatcher-horizontal-profession {
    color: #4B47FF;
    font-size: 64px;
}

#scroll-call-to-action {
    position: absolute;
    bottom: 90px;
    right: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 23px;
    color: white;
    transform: rotate(90deg);

    &:hover {
        cursor: pointer;
        color: #00BEE8;

        svg path {
            fill: #00BEE8;
        }
    }

    &:active {
        color: white;

        svg path {
            fill: white;
        }
    }
}

#scroll-call-to-action svg {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}

#social-media {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    display: flex;
    align-items: center;
    gap: 32px;
    z-index: 2;

    img {
        width: 30px;
        margin: 10px;

        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
    }
}

#social-media-bullet-line {
    width: calc((100vw - 1000px) / 2);
    background-color: #00BEE8;
    border-radius: 0 4px 4px 0;
    height: 4px;
}

#shadow-left {
    position: absolute;
    top: 30vh;
    left: calc((100vw / 2) - 700px);
    height: 608px;
}