<main>

    <section class="about-me-left-column">

        <h2>About me</h2>

        <div class="about-me-details">
            Hi, I am a Frontend Developer based in Munich. My passion is creating dynamic websites and web-apps with high-end user experience.
        </div>

        <div class="about-me-details">

            <img src="./assets/img/bulb_icon_white.svg" alt="bulb icon white">

            My positions in adult education and e-learning technology have sharpened my understanding of human-computer interactions.
        </div>

        <div class="about-me-details">

            <img src="./assets/img/puzzle_icon_white.svg" alt="puzzle icon white">

            I'm convinced that software development is more than just coding. It must manage the interests of various stakeholders in a holistic approach. I learned this by working in interdisciplinary teams in the past.
        </div>

    </section>

    <section class="about-me-right-column">

        <img src="./assets/img/shadows/shadow_purple_and_blue_1.svg" alt="shadow purple and blue">

        <img id="profile-image" src="./assets/img/profile.png" alt="max schuh profile">

        <img id="separator" src="./assets/img/curved_separator_cropped.png" alt="curved separator">
    </section>

</main>