<main>

    <section class="about-me-left-column">

        <h2>About me</h2>

        <div class="about-me-details">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur vel, temporibus, soluta minus libero
            consequatur unde architecto laboriosam repudiandae, accusamus deleniti atque sequi voluptas harum alias
            reiciendis in fuga accusantium?
        </div>

        <div class="about-me-details">

            <img src="./assets/img/bulb_icon_white.svg" alt="bulb icon white">

            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur vel, temporibus, soluta minus libero
            consequatur unde architecto laboriosam repudiandae, accusamus deleniti atque sequi voluptas harum alias
            reiciendis in fuga accusantium?
        </div>

        <div class="about-me-details">

            <img src="./assets/img/puzzle_icon_white.svg" alt="puzzle icon white">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae iure nesciunt distinctio sed, dolorum
            vitae. Porro harum rem commodi eveniet libero corrupti in laborum? Earum maxime cumque sit doloremque? Est!
        </div>

    </section>

    <section class="about-me-right-column">

        <img src="./assets/img/shadows/shadow_purple_and_blue_1.svg" alt="shadow purple and blue">

        <img id="profile-image" src="" alt="">
    </section>

</main>