#portfolio-section-headline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    h2 {
        padding: 0 48px;
        background-color: #141D2F;
    }

    #portfolio-bullet-line {
        background-color: #4B47FF;
        width: calc(50vw + ((100vw - var(--responsive-vertical-main-padding)) / 3));
        max-width: calc(50vw + 400px);
        height: var(--bullet-line-height);
        position: absolute;
        right: 0;
        top: calc(50% - (var(--bullet-line-height) / 2));
        z-index: -1;
    }
}

summary {
    color: white;
    font-size: 16px;
    margin-top: 24px;
    width: calc(100vw - var(--responsive-vertical-main-padding));
    max-width: var(--main-content-width);
    text-align: center;
}

main {

    display: flex;
    flex-direction: column;
    gap: 96px;
    width: calc(100vw - var(--responsive-vertical-main-padding));
    max-width: var(--main-content-width);
    margin-top: 96px;

    app-portfolio-project {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 100px;
        z-index: 1;
    
        @media (max-width: 950px) {
            flex-direction: column;
            text-align: center;
            width: 100%;
            gap: 35px;
        }
    }
}

.shadow {
    position: absolute;
    z-index: -1;
}

#shadow-purple {
    transform: scaleX(-1);
    width: 1260px;
    height: 900px;
    left: -650px;
    top: 5%;

    // @media (min-width: 1500px) {
    //     width: 43vw;
    //     height: 50vw;
    //     left: -13vw;
    // }
}

#shadow-blue {
    transform: scaleX(-1) rotate(30deg);
    width: 430;
    height: 950px;
    right: -400px;
    bottom: -80px;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}