<section id="portfolio-section-headline">
    <h2>Portfolio</h2>

    <div id="portfolio-bullet-line"></div>

</section>

<summary>
    These are samples of my work &mdash; please feel free to try them out.
</summary>

<main>

    @for (project of projects; track $index) {
    
        <app-portfolio-project [project]="projects[$index]" [ngClass]="projects[$index].class"></app-portfolio-project>
    }

</main>


<!-- <img id="shadow-purple" class="shadow" src="./assets/img/shadows/shadow_purple_3_alt.svg" alt="purple shadow">

<img id="shadow-blue" class="shadow" src="./assets/img/shadows/shadow_blue_1.svg" alt="blue shadow"> -->