h2 {
    padding: 0 48px;
}

#portfolio-section-headline {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: calc((100vw - 1000px) / 2 + 160px);
    width: 100%;
}

#portfolio-bullet-line-left {
    background-color: #4B47FF;
    border-radius: 4px 0 0 4px;
    height: 4px;
    width: 109px;
}

#portfolio-bullet-line-right {
    background-color: #4B47FF;
    height: 4px;
    flex: 1;
}

summary {
    color: white;
    font-size: 16px;
    margin-top: 24px;
}

app-portfolio-project {
    display: flex;
    align-items: center;
    gap: 35px;
    width: calc(100vw - 200px);
    max-width: 1000px;
}