a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h2 {

    @media (max-width: 900px) {
        font-size: 48px !important;
    }

    @media (max-width: 400px) {
        font-size: 36px !important;
    }

    span {
        display: none;

        @media (max-width: 640px) {
            display: inline;
        }
    }
}

h3 {
    padding-top: 24px;

    @media (max-width: 380px) {
        font-size: 20px;
    }
}

* {
    border: 1px solid red !important;
}