<a href="#contact">
    <button id="button-responsive">Get in touch</button>
</a>

<section id="skills-left-column">

    @for (skill of skills; track $index) {

    <app-skill-icon [skill]="skill"></app-skill-icon>
    }
</section>

<section id="skills-right-column">

    <div>
        <h2>Skills</h2>
        <div id="skills-bullet-line"></div>
    </div>

    <p id="skills-summary">
        My toolbox for bringing ideas to life, learned and proven by practice.
    </p>

    <a href="#contact">
        <button>Get in touch</button>
    </a>
</section>

<img class="shadow" src="./assets/img/shadows/shadow_blue_1.svg" alt="blue shadow">