<a href="#contact" data-aos="fade-up">
    <button id="button-responsive">{{ "skills.contact-button" | translate }}</button>
</a>

<section id="skills-left-column" data-aos="fade-right">

    @for (skill of skills; track $index) {

    <app-skill-icon [skill]="skill"></app-skill-icon>
    }
</section>

<section id="skills-right-column" data-aos="fade-left">

    <div>
        <h2>{{ "skills.headline" | translate }}</h2>
        <div id="skills-bullet-line"></div>
    </div>

    <p id="skills-summary">
        {{ "skills.summary" | translate }}
    </p>

    <a href="#contact">
        <button>{{ "skills.contact-button" | translate }}</button>
    </a>
</section>

<img class="shadow" src="./assets/img/shadows/shadow_blue_1.svg" alt="blue shadow" data-aos="fade-right">