<section id="skills-left-column">


    <app-skill-icon *ngFor="let i of skills; let index = index;" [index]="index"></app-skill-icon>
</section>

<section id="skills-right-column">

    <div>
        <h2>Skills</h2>
        <div id="skills-bullet-line"></div>
    </div>

    <div id="skills-summary">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem repellat quibusdam, deserunt laborum culpa
        non
        totam? Laboriosam illum nostrum accusantium numquam, dignissimos illo, dolor cum fugiat adipisci officiis
        molestias
        reprehenderit.
    </div>

    <a href="#contact">
        <button>Get in touch</button>
    </a>
</section>

<img class="shadow" src="./assets/img/shadows/shadow_blue_1.svg" alt="blue shadow">