app-skill-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;

    width: 100px;
    height: 100px;
    animation: fadeIn 5000ms;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#skills-left-column {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc((100vw - var(--responsive-vertical-main-padding)) / 2 - 50px);
    max-width: 550px;
    gap: 40px;
    z-index: 1;

    @media (max-width: 800px) {
        width: calc(100vw - var(--responsive-vertical-main-padding));
        max-width: unset;
        justify-content: center;
    }
}

#skills-right-column {
    box-sizing: border-box;
    width: 50vw;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    color: white;
    z-index: 1;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 24px;
        padding-left: 15px;
    }

    p {
        padding-left: 15px;
    }

    @media (max-width: 800px) {
        width: 100vw;
        padding-left: var(--responsive-vertical-side-padding);;

        div {
            padding: 0;
        }

        p {
            padding: 0;
            width: calc(100vw - var(--responsive-vertical-main-padding));
            max-width: unset;
        }

        a {
            display: none;
        }
    }
}

#skills-summary {
    width: calc((100vw - var(--responsive-vertical-main-padding)) / 2 - 15px);
    max-width: 500px;

}

#skills-bullet-line {
    background-color: #1CE6B6;
    border-radius: var(--bullet-line-height) 0 0 var(--bullet-line-height);
    height: var(--bullet-line-height);
    flex: 1;
}

.shadow {
    position: absolute;
    width: 430px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    left: -250px;
}

#button-responsive {

    @media(min-width: 800px) {

        display: none;
    }
}