app-skill-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;

    width: 100px;
    height: 100px;
    animation: fadeIn 5000ms;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#skills-left-column {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100vw - 200px);
    max-width: 450px;
    gap: 40px;

    @media (max-width: 800px) {
        width: 100vw;
        max-width: unset;
    }
}

#skills-right-column {
    box-sizing: border-box;
    width: 50vw;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    color: white;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 24px;
        padding-left: 15px;
    }

    p {
        padding-left: 15px;
    }
}

#skills-summary {
    width: calc((100vw - 200px) / 2);
    max-width: 500px;

}

#skills-bullet-line {
    background-color: #1CE6B6;
    border-radius: 4px 0 0 4px;
    height: 4px;
    flex: 1;
}

.shadow {
    position: absolute;
    width: 430px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    left: -250px;
}