.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
    width: calc((100vw - var(--responsive-vertical-main-padding)) / 2 - 50px);
    max-width: 550px;

    @media (max-width: 950px) {
        width: 100%;
        max-width: unset;
        gap: 24px;

        .description {
            text-align: left;
        }

        .button-row {
            justify-content: center;
        }
    }

    .title {
        color: #4B47FF;
    }

    .stack {
        font-size: 23px;
        color: #00BEE8;
    }

    .description {
        color: white;
        font-size: 16px;
    }

    .button-row {
        display: flex;
        gap: 1px;

        @media (max-width: 420px) {
            flex-direction: column;
        }
    }

    a {
        text-decoration: none;
    }

    .button-live-test {
        box-sizing: content-box;
        background: #4B47FF;
        width: 93px;

        &:hover {
            background: linear-gradient(#00BEE8, #4B47FF);
        }

        &:active {
            background: #00BEE8;
        }
    }

    .button-github {
        background: transparent;
        border: 1px solid #00BEE8;

        &:hover {
            background: #00BEE8;
        }

        &:active {
            background: white;
            color: #4B47FF;
        }
    }
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100vw - var(--responsive-vertical-main-padding)) / 2 - 50px);
    max-width: 550px;
    position: relative;

    img {
        width: 100%;
    }

    @media (max-width: 950px) {
        width: 100%;
        max-width: unset;
    }
}

.shadow {
    position: absolute;
    z-index: -1;
}

#shadow-purple {
    transform: scaleX(-1);
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    object-fit: contain;
}