<div class="project-image">
    <img src="{{ project.image_path }}" alt="{{ project.image_alt }}">

</div>

<div class="project-info">

    <h3 class="title">{{ project.title }}</h3>
    <span class="stack">{{ project.stack }}</span>
    <span class="description">{{ project.description }}</span>

    <div class="button-row">

        <a href="{{ project.test_link }}" target="_blank" rel="noopener noreferrer">
            <button class="button-live-test">Live test</button>
        </a>

        <a href="{{ project.github_link }}" target="_blank" rel="noopener noreferrer">
            <button class="button-github">Github</button>
        </a>

    </div>

</div>