/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Poppins;
    src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
}

body {
    font-family: 'Poppins';
    background-color: #141D2F;
    margin: 0;
}
