app-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: var(--header-height);
    position: relative;
}

app-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calc(290px + var(--header-height));
    color: white;
}

app-skills {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding-top: var(--header-height);

    @media (max-width: 800px) {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
}

app-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--header-height);
    position: relative;
}

app-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    padding: var(--header-height) 0;
}