app-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: var(--header-height);
}

app-about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--header-height);
    background-image: url('../../../src/assets/img/curved_separator.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 50vh;
    color: white;
}

app-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--header-height);

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

app-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--header-height);
    position: relative;
}

app-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: var(--header-height);
}