#contact-headline {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;

    h2 {
        padding: 0 48px;
        background-color: #141D2F;
    }

    #contact-bullet-line {
        width: 50vw;
        background-color: #00BEE8;
        height: var(--bullet-line-height);
        position: absolute;
        right: 0;
        top: calc(50% - (var(--bullet-line-height) / 2));
        z-index: -1;
    }
}

main {
    width: 100%;
    display: flex;
    gap: 100px;
    z-index: 1;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    #contact-left-column {
        width: calc(50vw - 50px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;

        @media (max-width: 800px) {
            width: calc(100vw - var(--responsive-vertical-side-padding));
        }

        #contact-left-column-first-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            #contact-left-column-bullet-line {
                width: calc((100vw - var(--main-content-width)) / 2 - 24px);
                background-color: #1CE6B6;
                border-radius: 0 var(--bullet-line-height) var(--bullet-line-height) 0;
                height: var(--bullet-line-height);
                margin-right: 24px;

                @media (max-width: 1400px) {
                    width: calc(var(--responsive-vertical-side-padding) - 24px);
                }
            }

        }

        #contact-left-column-second-row {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: 16px;
            width: calc(50vw - var(--responsive-vertical-side-padding) - 50px);
            max-width: 550px;

            @media (max-width: 800px) {
                width: calc(100vw - var(--responsive-vertical-main-padding));
                max-width: unset;
            }
        }
    }

    #contact-right-column {
        width: calc(50vw - var(--responsive-vertical-side-padding) - 50px);
        max-width: 550px;
        padding-bottom: 40px;
        position: relative;

        @media (max-width: 800px) {
            width: calc(100vw - var(--responsive-vertical-main-padding));
            max-width: unset;
            padding-left: var(--responsive-vertical-side-padding);
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    div {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .input-alert-icon {
        position: absolute;
        width: 25px;
        top: 29px;
        right: 25px;
        display: none;
    }

    .alert-text {
        display: flex;
        color: #E61C40;
        font-size: 14px;
        height: 17px;
    }

    input {
        box-sizing: border-box;
        height: 82px;
        width: 100%;
        padding: 15px 56px 15px 25px;
        border-radius: 10px;
        border: 1px solid #4B47FF;
        background-color: #141D2F;
        color: white;
        font-size: 16px;
        font-family: 'Poppins';

        &:hover {
            border-color: #1CE6B6;
        }

        &:focus {
            outline: none !important;
            border-color: #1CE6B6 !important;
        }

        &::placeholder {
            color: white;
        }
    }

    textarea {
        box-sizing: border-box;
        height: 202px;
        width: 100%;
        padding: 15px 56px 15px 25px;
        border-radius: 10px;
        border: 1px solid #4B47FF;
        background-color: #141D2F;
        color: white;
        font-size: 16px;
        font-family: 'Poppins';
        resize: none;

        &:hover {
            border-color: #1CE6B6;
        }

        &:focus {
            outline: none !important;
            border-color: #1CE6B6 !important;
        }

        &::placeholder {
            color: white;
        }


    }

    button {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 12px;

        div {
            width: fit-content;
        }
    }
}

textarea~.input-alert-icon {
    top: 25px;
}

#privacy-policy {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    a {
        color: #4B47FF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    #checkbox {

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 24px;
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.d-flex-important {
    display: flex !important;
}

#go-up-button {
    position: absolute;
    right: 2px;
    bottom: 8px;

    &:hover {

        cursor: pointer;

        rect {
            stroke: #00BEE8;
        }

        path {
            fill: #00BEE8;
        }
    }

    @media (max-width: 1050px) {
        bottom: 0px;
    }

    @media (max-width: 900px) {
        bottom: -16px;
    }

    @media (max-width: 800px) {
        bottom: 8px;
    }

    @media (max-width: 800px) {
        bottom: -8px;
    }
}

#shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 450px;

    @media (min-width: 1500px) {
        width: calc(375px * 1.5);
        height: calc(450px * 1.5);

    }

    @media (max-width: 800px) {
        width: calc(375px * 0.65);
        height: calc(450px * 0.65);

    }
}


//Loading animation on form submit button
.lds-dual-ring {
    display: inline-block;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}