#contact-headline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    width: 100%;

    #contact-bullet-line {
        width: calc((100vw - 1000px) / 2 + 100px);
        background-color: #00BEE8;
        border-radius: 4px 0 0 4px;
        height: 4px;
    }
}



main {
    display: flex;
    gap: 100px;
    z-index: 1;

    #contact-left-column {
        width: calc((100vw - 100px) / 2);
        display: flex;

        #contact-left-column-text {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
    }
}



#contact-left-column-bullet-line {
    width: calc((100vw - 1000px) / 2 - 24px);
    background-color: #1CE6B6;
    border-radius: 0 4px 4px 0;
    height: 4px;
    margin-right: 24px;

    @media (max-width: 1000px) {
        width: calc(var(--responsive-vertical-side-padding) - 24px);
    }
}

#contact-right-column {
    width: calc((100vw - 200px) / 2);
    max-width: 500px;
    padding-bottom: 80px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    div {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .input-alert-icon {
        position: absolute;
        width: 25px;
        top: 29px;
        right: 25px;
        display: none;
    }

    .alert-text {
        display: flex;
        color: #E61C40;
        font-size: 14px;
        height: 17px;
    }

    input {
        box-sizing: border-box;
        height: 82px;
        width: 100%;
        padding: 15px 56px 15px 25px;
        border-radius: 10px;
        border: 1px solid #4B47FF;
        background-color: #141D2F;
        color: white;
        font-size: 16px;
        font-family: 'Poppins';

        &:hover {
            border-color: #1CE6B6;
        }

        &:focus {
            outline: none !important;
            border-color: #1CE6B6 !important;
        }

        &::placeholder {
            color: white;
        }
    }

    textarea {
        box-sizing: border-box;
        height: 202px;
        width: 100%;
        padding: 15px 56px 15px 25px;
        border-radius: 10px;
        border: 1px solid #4B47FF;
        background-color: #141D2F;
        color: white;
        font-size: 16px;
        font-family: 'Poppins';
        resize: none;

        &:hover {
            border-color: #1CE6B6;
        }

        &:focus {
            outline: none !important;
            border-color: #1CE6B6 !important;
        }

        &::placeholder {
            color: white;
        }


    }

    button {
        width: fit-content;
    }
}

textarea~.input-alert-icon {
    top: 25px;
}

#privacy-policy {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    a {
        color: #4B47FF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    #checkbox {

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 24px;
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.d-flex-important {
    display: flex !important;
}


#go-up-button {
    position: absolute;
    right: 8px;
    bottom: 8px;

    &:hover {

        cursor: pointer;

        rect {
            stroke: #00BEE8;
        }

        path {
            fill: #00BEE8;
        }
    }
}

#shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 450px;
}