<div id="contact-headline">
    <h2>{{ "contact.headline" | translate }}</h2>
    <div id="contact-bullet-line"></div>
</div>

<main>

    <section id="contact-left-column">

        <div id="contact-left-column-first-row">
            <div id="contact-left-column-bullet-line"></div>
            <h3>{{ "contact.sub-headline" | translate }}</h3>
        </div>

        <summary id="contact-left-column-second-row" [innerHTML]=" 'contact.summary' | translate ">
        </summary>


    </section>

    <section id="contact-right-column">

        <form (ngSubmit)="submitContactForm()">

            <div>
                <input id="name" [(ngModel)]="inputs[0].value" (input)="handleInput(inputs[0], false)"
                    [style]="inputs[0].style" type="text"
                    placeholder="{{'contact.form.placeholders.input-name' | translate}}" name="name" autocomplete="name"
                    maxlength="99">
                <img id="name-alert-icon" class="input-alert-icon" alt="input alert" [style]="inputs[0].alertIconStyle"
                    src="./assets/img/input_alert.svg">
                <img id="name-checkmark" class="input-alert-icon" src="./assets/img/input_checkmark.svg"
                    alt="input checkmark" [style]="inputs[0].checkmarkIconStyle">
                <span id="name-alert-text" class="alert-text" [innerText]="inputs[0].alertText"></span>
            </div>

            <div>
                <input id="email" [(ngModel)]="inputs[1].value" (input)="handleInput(inputs[1], false)"
                    [style]="inputs[1].style" type="email"
                    placeholder="{{'contact.form.placeholders.input-email' | translate}}" name="email"
                    autocomplete="email" maxlength="99">
                <img id="email-alert-icon" class="input-alert-icon" alt="input alert" [style]="inputs[1].alertIconStyle"
                    src="./assets/img/input_alert.svg">
                <img id="email-checkmark" class="input-alert-icon" src="./assets/img/input_checkmark.svg"
                    alt="input checkmark" [style]="inputs[1].checkmarkIconStyle">
                <span id="email-alert-text" class="alert-text" [innerText]="inputs[1].alertText"></span>
            </div>

            <div>
                <textarea id="message" [(ngModel)]="inputs[2].value" (input)="handleInput(inputs[2], false)"
                    [style]="inputs[2].style" type="text"
                    placeholder="{{'contact.form.placeholders.textarea-message' | translate}}" name="message"
                    autocomplete="off" maxlength="999"></textarea>
                <img id="message-alert-icon" class="input-alert-icon" alt="input alert"
                    [style]="inputs[2].alertIconStyle" src="./assets/img/input_alert.svg">
                <img id="message-checkmark" class="input-alert-icon" src="./assets/img/input_checkmark.svg"
                    alt="input checkmark" [style]="inputs[2].checkmarkIconStyle">
                <span id="message-alert-text" class="alert-text" [innerText]="inputs[2].alertText"></span>
            </div>

            <div id="privacy-policy">
                <div>
                    <div id="checkbox" (click)="togglePrivacyPolicyAcceptance()" (mouseover)="handleCheckboxMouseover()"
                        (mouseout)="handleCheckboxMouseout()">
                        <img id="checkbox-default" src="./assets/img/check_button_blue.svg" alt="checkbox"
                            class="d-flex-important">
                        <img id="checkbox-hover" src="./assets/img/check_button_blue_hover.svg" alt="checkbox hovering">
                        <img id="checkbox-selected" src="./assets/img/check_button_blue_selected.svg"
                            alt="checkbox selected">
                        <img id="checkbox-selected-hover" src="./assets/img/check_button_blue_selected_hover.svg"
                            alt="checkbox selected hovering">
                    </div>

                    <span>
                        {{ "contact.form.privacy-policy-notice.link-prefix" | translate }}
                        <a href='./privacy-policy' target='_blank' rel='noopener noreferrer'>
                            {{ "contact.form.privacy-policy-notice.link" | translate }}
                        </a>
                        {{ "contact.form.privacy-policy-notice.link-suffix" | translate }}
                    </span>

                </div>
                <span id="checkbox-alert-text" name="checkbox-alert-text" class="alert-text"
                    [innerText]="checkboxes[0].alertText"></span>
            </div>

            <button type="submit" [style]="submitButtonStyle" [disabled]="submitButtonDisabled">
                <div *ngIf="currentlySendingMail" class="lds-dual-ring"></div>
                <div [innerHTML]="submitButtonText.text"></div>
            </button>
        </form>

        <a href="#start">
            <svg id="go-up-button" width="39" height="39" viewBox="0 0 39 39" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2" />
                <path
                    d="M18 15.828L13.343 20.485C12.9525 20.8755 12.3194 20.8755 11.929 20.485C11.5385 20.0945 11.5385 19.4615 11.929 19.071L18.2928 12.7071C18.6834 12.3166 19.3165 12.3166 19.7071 12.7071L26.071 19.071C26.4614 19.4615 26.4614 20.0945 26.071 20.485C25.6805 20.8755 25.0474 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5522 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z"
                    fill="white" />
            </svg>
        </a>
    </section>

</main>

<img id="shadow" src="./assets/img/shadows/shadow_purple_contact.svg" alt="shadow purple">